.container_frame
  - @beverages.each do |beverage|
    .itemcell
      .left_column
        -if File.exists?(beverage.imagebeverage.path(:small).to_s)
          = link_to(image_tag(beverage.imagebeverage.url(:small), :alt => beverage.name, :class => 'item_image_small'), beverage)
      .right_column
        %p
          %b Nome:
          = link_to beverage.name, beverage
        - if beverage.beveragecategory
          %p
            %b Categoria:
            = beverage.beveragecategory.name
        - if beverage.strength
          %p
            %b Gradazione:
            = sprintf("%02.1f %", beverage.strength)
        - if beverage.volume
          %p
            %b Volume:
            = sprintf("%02.0f cl", beverage.volume)
        - if beverage.container
          %p
            %b Contenitore:
            = beverage.container.name
        - unless beverage.ingredients.blank?
          %p
            %b Ingredienti:
            = beverage.ingredients.map{|a| a.name}.join(", ")
        - unless beverage.description.blank?
          %p
            %b Descrizione:
            = beverage.description

        - if beverage.price
          %p
            %b Prezzo:
            = sprintf("%02.2f €", beverage.price)
        - if user_signed_in?
          %br
          = link_to 'Modificare', edit_beverage_path(beverage)
          \|
          = link_to 'Eliminare', beverage, :method => :delete, :data => { :confirm => 'Sei sicuro di eliminare bibita ' + beverage.name + '?' }



%br
- if user_signed_in?
  = link_to 'Aggiungi bevanda', new_beverage_path
