= form_for @sandwich do |f|
  - if @sandwich.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sandwich.errors.count, "error")} prohibited this sandwich from being saved:"
      %ul
        - @sandwich.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ingredients
    - Ingredient.order("lower(name) ASC").all.each{|c|
    = check_box_tag("ingredient[]", c.name, @sandwich.ingredients.include?(c))
    - if FileTest.exist?(c.ingredientimage.path(:thumb).to_s)
      = link_to image_tag(c.ingredientimage.url(:thumb), :alt=>c.name), c
    - else
      = link_to c.name, c
    -}
  .field
    = f.label :price
    = f.number_field :price, :size => 5

  .actions
    = f.submit 'Save'
