%h1 Elenco dei panini

%table
  %tr
    %th Nome
    %th Prezzo
    %th Ingredienti
    %th
    %th
    %th
    %th

  - @sandwiches.each do |sandwich|
    %tr
      %td= link_to sandwich.name, sandwich, :id => sandwich.name.gsub(" ","_")
      %td= sprintf("%02.2f €", sandwich.price)
      %td
        - sandwich.ingredients.each do |ingr|
          - if FileTest.exist?(ingr.ingredientimage.path(:small).to_s)
            = link_to image_tag(ingr.ingredientimage.url(:small), :alt=>ingr.name), ingr
          - else
            = link_to ingr.name, ingr
          -# = ingr.name
          -# = image_tag ingr.ingredientimage.url(:thumb)
      %td= button_to "in carrello", line_items_path(:item_id => sandwich.item.id)
      %td= link_to 'Mostra', sandwich
      %td= link_to 'Modifica', edit_sandwich_path(sandwich)
      %td= link_to 'Elimina', sandwich, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuovo panino', new_sandwich_path
