%p#notice= notice

%p
  %b Name:
  = link_to @sandwich.name, @sandwich
%p
  %b Ingredients:
  - @sandwich.ingredients.each do |ingr|
    - if FileTest.exist?(ingr.ingredientimage.path(:small).to_s)
      = link_to image_tag(ingr.ingredientimage.url(:small)), ingr
    = ingr.name

= link_to 'Edit', edit_sandwich_path(@sandwich)
\|
= link_to 'Back', sandwiches_path
