%p#notice= notice

%p
  %b Nome:
  = link_to @sandwich.name, @sandwich
%p
  %b Prezzo:
  = @sandwich.price
%p
  %b Ingredienti:
  - @sandwich.ingredients.each do |ingr|
    - if FileTest.exist?(ingr.ingredientimage.path(:small).to_s)
      = link_to image_tag(ingr.ingredientimage.url(:small)), ingr
    = ingr.name

= link_to 'Modifica', edit_sandwich_path(@sandwich)
\|
= link_to 'Indietro', sandwiches_path
