<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ciao <%= @order.name%></h1>
		<p>
			Il tuo ordine e' stato ricevuto. Puoi controllare il proseguimento
			a questo
			<%= link_to 'link', url_for(:controller => 'orders', :action => 'control',
			:e => @order.email, :f=>@order.secretPhrase, :only_path => false, :escape => false )%>.</p>
	<h2>Riepilogo dell'ordine</h2>
		<p>Prezzo: <%= sprintf("%02.2f €", @order.price)%></p>
		<p>Data e ora di consegna:
			<%= I18n.l (@order.time).in_time_zone, :format => "%d %B alle %H:%M " %></p>
		<p>La frase segreta: <%= @order.secretPhrase %></p>
		<ol>
			<% @content.each do |item| %>
				<li><%= item.item.name%>:
					<%= item.item.specify.name%>
					(<%= item.quantity%> x <%= sprintf("%02.2f €", item.item.specify.price) %>)
				</li>
			<% end %>
		</ol>

    <p>Grazie e a presto!</p>
    <p>Personale di <%= link_to 'Spizzicaluna', root_url %></p>
  </body>
</html>