%p#notice= notice

%p
  %b Name:
  = @ingredient.name
%p
  %b Description:
  = @ingredient.description
%p
  %b Photo:
  = image_tag @ingredient.ingredientimage.url(:small)

= link_to 'Edit', edit_ingredient_path(@ingredient)
\|
= link_to 'Back', ingredients_path
