%p#notice= notice

%p
  %b Nome:
  = @ingredient.name
%p
  %b Descrizione:
  = @ingredient.description
%p
  %b Immagine:
  = image_tag @ingredient.ingredientimage.url(:small)

- if user_signed_in?
  = link_to 'Modifica', edit_ingredient_path(@ingredient)
  \|
= link_to 'Indietro', :back