.gallery
  %p
    Siamo sempre lieti di vedervi al nostro locale!
  %div
    = link_to "", "#", :id => "pd_loading", :class=> "pd_loading"
  #pd_options_bar.pd_options_bar
    = link_to "Shuffle", "#", :class => "shuffle"
    = link_to "Back to Desk", "#", :class => "backdesk", :style => "display:none;"
    = link_to "View all", "#", :class => "viewall"
  #pd_container.pd_container
    - @images.each do |image|
      - filename = File.basename(image)
      .pd_photo
        .pd_hold
          = image_tag "locale/one/big/" + filename
        %span.delete

= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
= javascript_include_tag "photodesk/jquery.transform-0.6.2.min.js"
= javascript_include_tag "photodesk/jquery.animate-shadow-min.js"
= javascript_include_tag "photodesk/photodesk2.js"
