%h1 Welcome to Spizzicaluna!

%br 
= link_to 'Items', items_path
%br 
= link_to 'Orders', orders_path
%br 
= link_to 'Ingredients', ingredients_path
%br
= link_to 'Beers', beers_path
%br 
= link_to 'Beer Styles', beerstyles_path
%br 
= link_to 'Manufacturers', manufacturers_path
%br
= link_to 'Containers', containers_path
%br
= link_to 'Lids', lids_path
%br
= link_to 'Aromas', aromas_path
%br
= link_to 'Tastes', tastes_path
%br
= link_to 'Colors', colors_path
%br
= link_to 'Foams', foams_path
