%h1 Welcome to Spizzicaluna!

%br 
= link_to 'Items', items_path
%br 
= link_to 'Orders', orders_path
%br 
= link_to 'Ingredients', ingredients_path
%br 
= link_to 'Beer Styles', beer_styles_path
%br 
= link_to 'Container', containers_path
%br 
= link_to 'Beer', beers_path
