%h1 Elenco dei contenitori

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @containers.each do |container|
    %tr
      %td= container.name
      %td= link_to 'Mostra', container
      %td= link_to 'Modifica', edit_container_path(container)
      %td= link_to 'Elimina', container, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuovo contenitore', new_container_path
