= form_for @prenotation do |f|
  - if @prenotation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prenotation.errors.count, "error")} prohibited this prenotation from being saved:"
      %ul
        - @prenotation.errors.full_messages.each do |msg|
          %li= msg
  - if flash[:notice]
    .notice
      = flash[:notice]
  .field
    = f.label :name #vedi config/locales/it.yml, section "labels" for text that will be substituted in italian
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :time
    = f.time_select :date

  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :quantity
    = f.select :quantity, (Prenotation.person_min_num..Prenotation.person_max_num)
  .actions
    = f.submit 'Prenota ora'
