%h1 Elenco di bruschette

%table
  %tr
    %th Nome
    %th
    %th Prezzo
    %th
    - if user_signed_in?
      %th
      %th
      %th

  - @bruschetta.each do |bruschettum|
    %tr
      %td= link_to bruschettum.name, bruschettum, :id => bruschettum.item.id
      %td
        - bruschettum.ingredients.each do |ingr|
          - if FileTest.exist?(ingr.ingredientimage.path(:thumb).to_s)
            = link_to image_tag(ingr.ingredientimage.url(:thumb), :alt=>ingr.name), ingr
          - else
            = link_to ingr.name, ingr
      %td= sprintf("%02.2f €", bruschettum.price)
      %td= button_to "in carrello", line_items_path(:item_id => bruschettum.item.id)
      - if user_signed_in?
        %td= link_to 'Mostra', bruschettum
        %td= link_to 'Modificare', edit_bruschettum_path(bruschettum)
        %td= link_to 'Eliminare', bruschettum, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Aggiungere bruschetta', new_bruschettum_path
