%p#notice= notice

%p
  %b Nome:
  = @bruschettum.name
%p
  %b Prezzo:
  = sprintf("%02.2f €", @bruschettum.price)
%p
  %b Ingredienti:
  - @bruschettum.ingredients.each do |ingr|
    - if FileTest.exist?(ingr.ingredientimage.path(:small).to_s)
      = link_to image_tag(ingr.ingredientimage.url(:small)), ingr
    = ingr.name

= link_to 'Modifica', edit_bruschettum_path(@bruschettum)
\|
= link_to 'Indietro', bruschetta_path
