= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :user_id
  .field
    = f.label "Indirizzo"
    = f.text_area :addr
  .field
    = f.label "Telefono"
    = f.text_field :telephone
  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.label :beer
    - Beer.order("lower(name) ASC").all.each{|c|
    = link_to c.name, c
    - if FileTest.exist?(c.imagebeer.path(:small).to_s)
      = image_tag c.imagebeer.url(:small)
    = select_tag("beer[c.id][]", options_for_select((0..10)))
    -}
  .field
    = f.label :sandwich
    - Sandwich.order("lower(name) ASC").all.each{|c|
    = link_to c.name, c
    = select_tag("sandwich[c.id][]", options_for_select((0..10)))
    -}

  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :info
    = f.text_area :info
  .actions
    = f.submit 'Save'
