= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2
        - if @order.errors.count == 1
          = t 'activerecord.errors.template.header.one', :model => (t @order.class.name), :count => 1
        - else
          = t 'activerecord.errors.template.header.other', :model => @order.class.name, :count => @order.errors.count
      %b= t 'activerecord.errors.template.body'
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :name
  .field
    = f.label "Indirizzo e-mail"
    = f.text_field :email
    %span.comment
      (qua sarà mandata la conferma)
  .field
    = select_tag "order[streetprefix]", options_for_select(["via","viale","piazza","piazzale","corso"])
    = f.text_field :street
    = f.text_field :building, :size => 5
    = select_tag "order[city]", options_for_select(["Frascati","Roma","Marino","Grottaferrata","Monte Porzio Catone","Montecompatri","Rocca di Papa","Ciampino","Albano Laziale"])
  .field
    = f.label "Telefono"
    = f.text_field :telephone, :size => 10
    %span.comment
      (per eventuali comunicazioni)

  .field
    = f.label "Ora di consegna"
    = select_tag :timeY, options_for_select((@order.starttime.year)..(@order.endtime.year))
    = select_tag :timeM, options_for_select(@order.monthspan)
    = select_tag :timeD, options_for_select(@order.dayspan)
    = select_tag :timeH, options_for_select(@order.hourspan)
    = select_tag :timeMim, options_for_select(@order.minspan)
  .field
    = f.label :beer
    - Beer.order("lower(name) ASC").all.each{|c|
    = link_to c.name, c
    = sprintf("%02.2f €", c.price)
    - if FileTest.exist?(c.imagebeer.path(:small).to_s)
      = image_tag c.imagebeer.url(:small)

    = select_tag("item[#{c.item.id}]", options_for_select((0..10)))
    -}
  .field
    = f.label :sandwich
    - Sandwich.order("lower(name) ASC").all.each{|c|
    = link_to c.name, c
    = sprintf("%02.2f €", c.price)
    = select_tag("item[#{c.item.id}]", options_for_select((0..10)))
    -}

  .field
    = f.label :info
    = f.text_area :info
  .actions
    = f.submit 'Salva'
