= form_for @order do |f|
  -if @order.errors.any?
    #error_explanation
      %h2
        - if @order.errors.count == 1
          = t 'activerecord.errors.template.header.one', :model => (t @order.class.model_name.human), :count => 1
        - else
          = t 'activerecord.errors.template.header.other', :model => @order.class.model_name.human, :count => @order.errors.count
      %b= t 'activerecord.errors.template.body'
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  %h1 Dettagli dell'intestatario
  .field
    = f.label "Nome"
  = f.text_field :name
  .field
    = f.label "Indirizzo e-mail"
  = f.text_field :email
  %span.comment
    (qua sarà mandata la conferma)
  .field
    = f.label "Indirizzo di consegna:"
  = select_tag "order[streetprefix]", options_for_select(["via","viale","piazza","piazzale","corso"])
  = f.text_field :street, :placeholder => "nome della via e numero civico"
  = f.text_field :building, :placeholder => "interno, scala ecc.",:size => 5
  = select_tag "order[city]", options_for_select(["Frascati","Roma","Marino","Grottaferrata","Monte Porzio Catone","Montecompatri","Rocca di Papa","Ciampino","Albano Laziale"])
  .field
    = f.label "Telefono"
  = f.text_field :telephone, :size => 10
  %span.comment
    (per eventuali comunicazioni)

  .field
    = f.label "Data e ora di consegna"
  = select_tag :timeD, options_for_select(@order.dayspan)
  = select_tag :timeM, options_for_select(@order.monthspan)
  - if @order.yearspan.count==1
    = number_field_tag :timeY, @order.yearspan.first, :hidden => true
  - else
    = select_tag :timeY, options_for_select(@order.yearspan)
  alle
  = select_tag :timeH, options_for_select(@order.hourspan,(Time.now+Order.starttime).hour )
  = select_tag :timeMin, options_for_select(@order.minspan,5*((Time.now+Order.starttime+5.minutes).min/5))

  %h1 Dettagli dell'ordine
  - if !(@beers.to_a.flatten.empty?)
    %h2 Birre
    %table1
      %tbody
        - @beers.each do |row|
          %tr
            - row.each do |beer_line|
              - beer=beer_line[:beer]
              %td
                = link_to beer.name, beer
                = '('+ beer_line[:quantity].to_s + ' x ' + sprintf("%02.2f €", beer.price)+ ")"
                - if FileTest.exist?(beer.imagebeer.path(:small).to_s)
                  = image_tag beer.imagebeer.url(:small)

  - if !@sandwiches.to_a.flatten.empty?
    %h2 Panini
    %table
      %tbody
        - @sandwiches.each do |row|
          %tr
            - row.each do |sandwich_line|
              - c = sandwich_line[:sandwich]
              %td
                = link_to c.name, c
                = '('+ sandwich_line[:quantity].to_s + ' x ' + sprintf("%02.2f €", c.price)+ ")"

  - if !@bruschette.to_a.flatten.empty?
    %h2 Bruschette
    %table
      %tbody
        - @bruschette.each do |row|
          %tr
            - row.each do |bruschetta_line|
              - c = bruschetta_line[:bruschetta]
              %td
                = link_to c.name, c
                = '('+ bruschetta_line[:quantity].to_s + ' x ' + sprintf("%02.2f €", c.price)+ ")"



  %h1 Informazioni supplementari
  = f.text_area :info, :size => "50 x 10"
  .actions
    = f.submit 'Procedi', :data => { :confirm => 'Allora, procediamo?' }

