%h1 Listing orders

%table
  %tr
    %th User
    %th Addr
    %th Time
    %th Status
    %th Secret phrase
    %th Info
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.name
      %td= order.addr
      %td= order.time.strftime("%H:%M:%S %m-%d-%Y")
      %td
        - order.trackings.each do |track|
          = track.status.name
      %td= order.secretPhrase
      %td= order.info
      %td= link_to 'Mostra', order
      %td
        = link_to 'Update', edit_order_path(order)
      %td= #link_to 'Elimina', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
