%p#notice= notice

%p
  %b Nome:
  = @order.name
%p
  %b Indirizzo:
  = @order.addr
%p
  %b Time:
  = @order.time
%p
  %b Status:
  %ol
    - @order.trackings.each do |track|
      %li
        =  track.status.name
        =  track.created_at
%p
  %b Your tracking code:
  = @order.secretPhrase
%p
  %b Info:
  = @order.info
%p
  %b Content:
  - @order.ordercontents.each{|ordcont|
  -item=ordcont.item.specify
  - if FileTest.exist?(item.imagepath(:small).to_s)
    = link_to image_tag(item.image(:small)), item
  = item.name
  -}


= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
