%p#notice= notice

%p
  %b Nome:
  = @order.name
%p
  %b Indirizzo:
  = @order.addr
%p
  %b Ora di consegna:
  = @order.time.strftime("%H:%M %m-%d-%Y")

%p
  %b Stato dell'ordine:
  %ol
    - @order.trackings.each do |track|
      %li
        = track.status.name
        = track.created_at.in_time_zone.strftime("%H:%M:%S %m-%d-%Y")
%p
  %b Your tracking code:
  = @order.secretPhrase
%p
  %b Info:
  = @order.info
%p
  %b Content:
  - @order.ordercontents.each{|ordcont|
  - item=ordcont.item.specify
  - if FileTest.exist?(item.imagepath(:small).to_s)
    = link_to image_tag(item.image(:small)), item
  = ordcont.quantity
  = item.name
  -}
%p
  %b Prezzo:
  = sprintf("%02.2f €", @order.price)


= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
