%p#notice= notice

%p
  %b User:
  = @order.user_id
%p
  %b Addr:
  = @order.addr
%p
  %b Time:
  = @order.time
%p
  %b Status:
  = @order.status
%p
  %b Info:
  = @order.info
%p
  %b Content:
  - @order.ordercontents.each{|ordcont|
  -item=ordcont.item.specify
  - if FileTest.exist?(item.imagepath(:small).to_s)
    = link_to image_tag(item.image(:small)), item
  = item.name
  -}


= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
