%h1 Elenco dei gusti

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @tastes.each do |taste|
    %tr
      %td= taste.name
      %td= link_to 'Mostra', taste
      %td= link_to 'Modifica', edit_taste_path(taste)
      %td= link_to 'Elimina', taste, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuovo gusto', new_taste_path
