- lineitems=current_cart.line_items
- if lineitems.count>0
  .cart
    Carrello
    %ol
      - lineitems.each do |li|
        %li
          - item=Item.find_by_id(li.item_id).specify
          = item.name
          = li.quantity
          = link_to "Più", line_items_path(:item_id => li.item_id), :method => :post
          = link_to "Meno", "/line_items/delete/#{li.item_id}", :method => :post

    = link_to 'Svuota', current_cart, :method => :delete, :data => { :confirm => 'Sei sicuro?' }