%h1 Elenco dei colori

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @colors.each do |color|
    %tr
      %td= color.name
      %td= link_to 'Mostra', color
      %td= link_to 'Modifica', edit_color_path(color)
      %td= link_to 'Elimina', color, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuovo colore', new_color_path
