%h1 Titti i food

%table
  %tr
    %th Nome
    %th Prezzo
    - if user_signed_in?
      %th

  - @foods.each do |food|
    %tr
      %td= food.name
      %td= food.price
      - if user_signed_in?
        %td
          = link_to 'Mostra', food
          \|
          = link_to 'Modifica', edit_food_path(food)
          \
          = link_to 'Elimina', food, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if user_signed_in?
  = link_to 'Aggiungi Food', new_food_path
