= form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :manufacturer_id
    = f.number_field :manufacturer_id
  .field
    = f.label :strength
    = f.text_field :strength
  .field
    = f.label :container_id
    = f.number_field :container_id
  .field
    = f.label :lid_id
    = f.number_field :lid_id
  .actions
    = f.submit 'Save'
