=form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  .item_image_form
    - unless @beer.new_record?
      - @beer.imagebeer.styles.each do |n,m|
        = image_tag @beer.image(n)
  .field
    = f.label "Nome"
    = f.text_field :name

  .field
    = f.label "Immagine"
    = f.file_field :imagebeer

  .field
    - @selected=@beer.manufacturer ? @beer.manufacturer.id.to_i : nil
    = f.label "Produttore"
    = select_tag("beer[manufacturer_id]", options_from_collection_for_select(Manufacturer.order("lower(name) ASC").all,:id,:name,@selected))

  = f.label "Stile"
  .field_long
    - Beerstyle.order("lower(name) ASC").all.each{|c|
    = check_box_tag("beerstyle[]", c.name, @beer.beerstyles.collect{|c| c.id}.include?(c.id), :id => "beerstyles[#{c.name}]").to_s
    = c.name
    -}

  = f.label "Aroma"
  .field_long
    - Aroma.order("lower(name) ASC").all.each{|c|
    = check_box_tag("aroma[]", c.name, @beer.aromas.collect{|c| c.id}.include?(c.id), :id => "aromas[#{c.name}]")
    = c.name
    -}

  = f.label "Gusto"
  .field_long
    - Taste.order("lower(name) ASC").all.each{|c|
    = check_box_tag("taste[]", c.name, @beer.tastes.collect{|c| c.id}.include?(c.id), :id => "tastes[#{c.name}]")
    = c.name
    -}

  = f.label "Colore"
  .field_long
    - Color.order("lower(name) ASC").all.each{|c|
    = check_box_tag("color[]", c.name ,@beer.colors.collect{|c| c.id}.include?(c.id), :id => "colors[#{c.name}]")
    = c.name
    -}

  = f.label "Schiuma"
  .field_long
    - Foam.order("lower(name) ASC").all.each{|c|
    = check_box_tag("foam[]", c.name, @beer.foams.collect{|c| c.id}.include?(c.id), :id => "foams[#{c.name}]")
    = c.name
    -}

  .field
    = f.label "Gradazione (% vol)"
    = f.text_field :strength, :size => 5
  .field
    - @selected = @beer.container ? @beer.container.id.to_i : nil
    = f.label "Formato"
    = select_tag("beer[container_id]", options_from_collection_for_select(Container.order("lower(name) ASC").all,:id,:name,@selected))
  .field
    - @selected = @beer.lid ? @beer.lid.id.to_i : nil
    = f.label "Tappo"
    = select_tag("beer[lid_id]", options_from_collection_for_select(Lid.order("lower(name) ASC").all,:id,:name,@selected))

  .field
    = f.label "Volume (cl)"
    = f.number_field :volume, :size => 5

  .field
    = f.label "Prezzo (€)"
    = f.number_field :price, :size => 5

  .field
    = f.label "Descrizione"
    = f.text_field :description


  .actions
    = f.submit 'Salvare'
