=form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :manufacturer_id
    = select_tag("beer[manufacturer_id]", options_from_collection_for_select(Manufacturer.order("lower(name) ASC").all,:id,:name))
  .field
    = f.label :beerstyle
    - Beerstyle.order("lower(name) ASC").all.each{|c|
    = check_box_tag("beerstyle[]", c.name, @beer.beerstyles.collect{|c| c.id}.include?(c.id), :id => "beerstyles[#{c.name}]")
    = c.name
    -}
  .field
    = f.label :aroma
    - Aroma.order("lower(name) ASC").all.each{|c|
    = check_box_tag("aroma[]", c.name, @beer.aromas.collect{|c| c.id}.include?(c.id), :id => "aromas[#{c.name}]")
    = c.name
    -}
  .field
    = f.label :taste
    - Taste.order("lower(name) ASC").all.each{|c|
    = check_box_tag("taste[]", c.name, @beer.tastes.collect{|c| c.id}.include?(c.id), :id => "tastes[#{c.name}]")
    = c.name
    -}

  .field
    = f.label :color
    - Color.order("lower(name) ASC").all.each{|c|
    = check_box_tag("color[]", c.name ,@beer.colors.collect{|c| c.id}.include?(c.id), :id => "colors[#{c.name}]")
    = c.name
    -}

  .field
    = f.label :foam
    - Foam.order("lower(name) ASC").all.each{|c|
    = check_box_tag("foam[]", c.name, @beer.foams.collect{|c| c.id}.include?(c.id), :id => "foams[#{c.name}]")
    = c.name
    -}

  .field
    = f.label :strength
    = f.text_field :strength
  .field
    = f.label :container_id
    = select_tag("beer[container_id]", options_from_collection_for_select(Container.order("lower(name) ASC").all,:id,:name))
  .field
    = f.label :lid_id
    = select_tag("beer[lid_id]", options_from_collection_for_select(Lid.order("lower(name) ASC").all,:id,:name))

  .field
    = f.label :volume
    = f.number_field :volume

  .field
    = f.file_field :imagebeer

  .actions
    = f.submit 'Save'
