- beerstyles=BeerStyle.find(:all,:order=>"name")
- containertypes=Container.find(:all,:order=>"name")
= form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    Style
    = select_tag "beer_index_beers_on_container_id", options_from_collection_for_select(beerstyles, "id", "name")
  .field
    = f.label :aroma
    = f.text_field :aroma
  .field
    = f.label :flavor
    = f.number_field :flavor
  .field
    = f.label :foam
    = f.text_field :foam
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :strength
    = f.text_field :strength
    .field
    - containertypes.each{|c|
    =check_box_tag c.name, c.name
    = c.name
    -}
  .field
    = f.label :volume
    = f.text_field :volume

