%h1 Listing beers

%table
  %tr
    %th Nome
    %th
    %th Produttore
    %th Gradazione
    %th Formato
    %th Volume
    %th Tappo
    %th Aroma
    %th Gusto
    %th Stile
    %th Colore
    %th Schiuma
    %th Prezzo
    %th
    %th
    %th

  - @beers.each do |beer|
    %tr
      %td= beer.name
      %td= image_tag beer.imagebeer.url(:thumb)

      %td
        - if beer.manufacturer
          = beer.manufacturer.name
          - if beer.manufacturer.country
            = image_tag beer.manufacturer.country.flagimage.url(:thumb)
      %td= beer.strength
      %td
        -if beer.container
          =beer.container.name
      %td= beer.volume
      %td
        -if beer.lid
          = beer.lid.name
      %td
        - beer.aromas.each do |aroma|
          = aroma.name
      %td
        - beer.tastes.each do |taste|
          = taste.name
      %td
        - beer.beerstyles.each do |bs|
          = bs.name
      %td
        - beer.colors.each do |color|
          = color.name
      %td
        - beer.foams.each do |foam|
          = foam.name
      %td
        = sprintf("%02.2f", beer.price)

      %td= link_to 'Show', beer
      %td= link_to 'Edit', edit_beer_path(beer)
      %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuova birra', new_beer_path
