%h1 Listing beers

%table
  %tr
    %th Name
    %th Manufacturer
    %th Strength
    %th Container
    %th Lid
    %th Aroma
    %th Taste
    %th Beer style
    %th Color
    %th Foam
    %th
    %th
    %th

  - @beers.each do |beer|
    %tr
      %td= beer.name
      %td= Manufacturer.find(beer.manufacturer_id).name
      %td= beer.strength
      %td= Container.find(beer.container_id).name
      %td= Lid.find(beer.lid_id).name
      %td
        - beer.aromas.each do |aroma|
          = aroma.name
      %td
        - beer.tastes.each do |taste|
          = taste.name
      %td
        - beer.beerstyles.each do |bs|
          = bs.name
      %td
        - beer.colors.each do |color|
          = color.name
      %td
        - beer.foams.each do |foam|
          = foam.name

      %td= link_to 'Show', beer
      %td= link_to 'Edit', edit_beer_path(beer)
      %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Beer', new_beer_path
