%h1 Elenco di birre

%table
  %tr
    %th Nome
    %th
    %th Produttore
    %th Gradazione
    %th Formato
    %th Volume
    %th Aroma
    %th Gusto
    %th Stile
    %th Colore
    %th Schiuma
    %th Prezzo
    %th
    %th
    %th
    %th

  - @beers.each do |beer|
    %tr
      %td= link_to beer.name, beer, :id => beer.item.id
      %td= image_tag beer.imagebeer.url(:thumb)

      %td
        - if beer.manufacturer
          - if beer.manufacturer.country
            = image_tag beer.manufacturer.country.flagimage.url(:thumb)
      %td= sprintf("%02.1f %", beer.strength)
      %td
        -if beer.container
          =beer.container.name
      %td= sprintf("%02.0f cl",beer.volume)
      %td
        - beer.aromas.each do |aroma|
          = aroma.name
      %td
        - beer.tastes.each do |taste|
          = taste.name
      %td
        - beer.beerstyles.each do |bs|
          = bs.name
      %td
        - beer.colors.each do |color|
          = color.name
      %td
        - beer.foams.each do |foam|
          = foam.name
      %td= sprintf("%02.2f €", beer.price)
      %td= button_to "in carrello", line_items_path(:item_id => beer.item.id)
      %td= link_to 'Show', beer
      %td= link_to 'Edit', edit_beer_path(beer)
      %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuova birra', new_beer_path
