%h1 Listing beers

%table
  %tr
    %th Name
    %th Type
    %th Taste
    %th Strength
    %th
    %th
    %th

  - @beers.each do |beer|
    %tr
      %td= beer.name
      %td= beer.type
      %td= beer.taste
      %td= beer.strength
      %td= link_to 'Show', beer
      %td= link_to 'Edit', edit_beer_path(beer)
      %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Beer', new_beer_path
