%h1 Listing beers

%table
  %tr
    %th Name
    %th Manufacturer
    %th Strength
    %th Container
    %th Lid
    %th
    %th
    %th

  - @beers.each do |beer|
    %tr
      %td= beer.name
      %td= beer.manufacturer_id
      %td= beer.strength
      %td= beer.container_id
      %td= beer.lid_id
      %td= link_to 'Show', beer
      %td= link_to 'Edit', edit_beer_path(beer)
      %td= link_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Beer', new_beer_path
