%h1 Elenco di birre
= form_tag @beers_path, :method => 'get' do
  %p
    = text_field_tag :search, params[:search]
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
    = submit_tag "Trova", :name => nil

%table
  %tr
    %th= sortable 'name', "Nome"
    %th
    %th Produttore
    %th= sortable 'strength', 'Gradazione'
    %th Formato
    %th= sortable 'volume'
    %th Aroma
    %th Gusto
    %th Stile
    %th Colore
    %th Schiuma
    %th Descrizione
    %th= sortable 'price', 'Prezzo'
    %th
    - if user_signed_in?
      %th
      %th
      %th

  - @beers.each do |beer|
    %tr
      %td= link_to beer.name, beer, :id => beer.item.id
      %td= image_tag beer.imagebeer.url(:thumb)

      %td
        - if beer.manufacturer
          - if beer.manufacturer.country
            = image_tag beer.manufacturer.country.flagimage.url(:thumb)
      %td= sprintf("%02.1f %", beer.strength)
      %td
        -if beer.container
          =beer.container.name
      %td= sprintf("%02.0f cl",beer.volume)
      %td
        - beer.aromas.each do |aroma|
          = aroma.name
      %td
        - beer.tastes.each do |taste|
          = taste.name
      %td
        - beer.beerstyles.each do |bs|
          = bs.name
      %td
        - beer.colors.each do |color|
          = color.name
      %td
        - beer.foams.each do |foam|
          = foam.name
      %td= beer.description
      %td= sprintf("%02.2f €", beer.price)
      %td= button_to "in carrello", line_items_path(:item_id => beer.item.id)
      - if user_signed_in?
        %td= link_to 'Mostra', beer
        %td= link_to 'Modifica', edit_beer_path(beer)
        %td= link_to 'Eliminare', beer, :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate @beers, :previous_label => "<<", :next_label => ">>"
- if user_signed_in?
  %br
  = link_to 'Nuova birra', new_beer_path
