%p#notice= notice
%p
  %b Name:
  = @beer.name
%p
  %b Manufacturer:
  = Manufacturer.find(@beer.manufacturer_id).name
%p
  %b Photo:
  = image_tag @beer.imagebeer.url(:thumb)

%p
  %b Aroma:
  - @beer.aromas.each do |aroma|
    = aroma.name
%p
  %b Taste:
  - @beer.tastes.each do |taste|
    = taste.name
%p
  %b Beer style:
  - @beer.beerstyles.each do |bs|
    = bs.name
%p
  %b Color:
  - @beer.colors.each do |color|
    = color.name
%p
  %b Foam:
  - @beer.foams.each do |foam|
    = foam.name

%p
  %b Strength:
  = @beer.strength
%p
  %b Container:
  = Container.find(@beer.container_id).name
%p
  %b Lid:
  = Lid.find(@beer.lid_id).name

= link_to 'Edit', edit_beer_path(@beer)
\|
= link_to 'Back', beers_path