%p#notice= notice

%p
  %b Name:
  = @beer.name
%p
  %b Aroma:
  = @beer.aroma
%p
  %b Flavor:
  = @beer.flavor
%p
  %b Foam:
  = @beer.foam
%p
  %b Color:
  = @beer.color
%p
  %b Strength:
  = @beer.strength

= link_to 'Edit', edit_beer_path(@beer)
\|
= link_to 'Back', beers_path
