%p#notice= notice
%p
  %b Nome
  = @beer.name
%p
  %b Produttore:
  = Manufacturer.find(@beer.manufacturer_id).name
%p
  %b Immagine:
  = image_tag @beer.imagebeer.url(:small)

%p
  %b Aroma:
  - @beer.aromas.each do |aroma|
    = aroma.name
%p
  %b Gusto:
  - @beer.tastes.each do |taste|
    = taste.name
%p
  %b Stile:
  - @beer.beerstyles.each do |bs|
    = bs.name
%p
  %b Colore:
  - @beer.colors.each do |color|
    = color.name
%p
  %b Schiuma:
  - @beer.foams.each do |foam|
    = foam.name

%p
  %b Gradazione:
  = @beer.strength
%p
  %b Formato:
  = Container.find(@beer.container_id).name
%p
  %b Tappo:
  = Lid.find(@beer.lid_id).name
%p
  %b Prezzo:
  = @beer.price
= link_to 'Modificare', edit_beer_path(@beer)
\|
= link_to 'Indietro', beers_path