%p#notice= notice

%p
  %b Name:
  = @beer.name
%p
  %b Type:
  = @beer.type
%p
  %b Taste:
  = @beer.taste
%p
  %b Strength:
  = @beer.strength

= link_to 'Edit', edit_beer_path(@beer)
\|
= link_to 'Back', beers_path
