%p#notice= notice

%p
  %b Name:
  = @beer.name
%p
  %b Manufacturer:
  = @beer.manufacturer_id
%p
  %b Strength:
  = @beer.strength
%p
  %b Container:
  = @beer.container_id
%p
  %b Lid:
  = @beer.lid_id

= link_to 'Edit', edit_beer_path(@beer)
\|
= link_to 'Back', beers_path
