%p#notice= notice
.container_show
  .itemcell_show
    .left_column
      - if File.exists?(@beer.imagebeer.path(:large).to_s)
        = image_tag @beer.imagebeer.url(:large), :class => 'item_image'
      - else
        - if File.exists?(@beer.imagebeer.path(:medium).to_s)
          = image_tag @beer.imagebeer.url(:medium), :class => 'item_image'
        - else
          - if File.exists?(@beer.imagebeer.path(:small).to_s)
            = image_tag @beer.imagebeer.url(:small), :class => 'item_image'
    .right_column

      %p
        %b Nome
        = @beer.name
      %p
        %b Produttore:
        = Manufacturer.find(@beer.manufacturer_id).name

      %p
        %b Aroma:
        - @beer.aromas.each do |aroma|
          = aroma.name
      %p
        %b Descrizione:
        = @beer.description

      %p
        %b Gusto:
        - @beer.tastes.each do |taste|
          = taste.name
      %p
        %b Stile:
        - @beer.beerstyles.each do |bs|
          = bs.name
      %p
        %b Colore:
        - @beer.colors.each do |color|
          = color.name
      %p
        %b Schiuma:
        - @beer.foams.each do |foam|
          = foam.name

      %p
        %b Gradazione:
        = sprintf("%02.1f %", @beer.strength)
      %p
        %b Volume:
        = sprintf("%02.0f cl", @beer.volume)
      %p
        %b Formato:
        = Container.find(@beer.container_id).name
      %p
        %b Tappo:
        = Lid.find(@beer.lid_id).name
      %p
        %b Prezzo:
        = sprintf("%02.2f €", @beer.price)
      - if user_signed_in?
        %br
          = link_to 'Modificare', edit_beer_path(@beer)
          \|
          = link_to 'Eliminare', @beer, :method => :delete, :data => { :confirm => 'Sei sicuro di eliminare birra ' + @beer.name + '?' }
= link_to 'Indietro', beers_path