%p#notice= notice
= image_tag @beer.imagebeer.url(:large)

%p
  %b Nome
  = @beer.name
%p
  %b Produttore:
  = Manufacturer.find(@beer.manufacturer_id).name

%p
  %b Aroma:
  - @beer.aromas.each do |aroma|
    = aroma.name
%p
  %b Descrizione:
  = @beer.description

%p
  %b Gusto:
  - @beer.tastes.each do |taste|
    = taste.name
%p
  %b Stile:
  - @beer.beerstyles.each do |bs|
    = bs.name
%p
  %b Colore:
  - @beer.colors.each do |color|
    = color.name
%p
  %b Schiuma:
  - @beer.foams.each do |foam|
    = foam.name

%p
  %b Gradazione:
  = sprintf("%02.1f %", @beer.strength)
%p
  %b Volume:
  = sprintf("%02.0f cl", @beer.volume)
%p
  %b Formato:
  = Container.find(@beer.container_id).name
%p
  %b Tappo:
  = Lid.find(@beer.lid_id).name
%p
  %b Prezzo:
  = sprintf("%02.2f €", @beer.price)
= link_to 'Modificare', edit_beer_path(@beer)
\|
= link_to 'Indietro', beers_path