%h1 Listing items

%table
  %tr
    %th Id
    %th Nome
    %th id dalla classe di provenienza
    %th Status
    %th Info
    %th

  - @items.each do |item|
    %tr
      %td= item.id
      %td= item.name
      %td= item.iid
      %td= item.status
      %td= item.name.classify.constantize.find(item.iid).name
      %td= link_to 'Show', item
      -# %td= link_to 'Edit', edit_item_path(item)
      -# %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

= #link_to 'New Item', new_item_path
