%p#notice= notice

%p
  %b Name:
  = @item.name
-# %p
  -# %b Description:
  -# = @item.description
%p
  %b Status:
  = @item.status

- if user_signed_in?
  = link_to 'Modifica', edit_item_path(@item)
  \|
= link_to 'Indietro', :back
