= form_for @foam do |f|
  - if @foam.errors.any?
    #error_explanation
      %h2= "#{pluralize(@foam.errors.count, "error")} prohibited this foam from being saved:"
      %ul
        - @foam.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :name
  .actions
    = f.submit 'Salva'
