%h1 Elenco delle schiume

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @foams.each do |foam|
    %tr
      %td= foam.name
      %td= link_to 'Mostra', foam
      %td= link_to 'Modifica', edit_foam_path(foam)
      %td= link_to 'Destroy', foam, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuova schiuma', new_foam_path
