= form_for @beerstyle do |f|
  - if @beerstyle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beerstyle.errors.count, "error")} prohibited this beerstyle from being saved:"
      %ul
        - @beerstyle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :name
  .actions
    = f.submit 'Salva'
