%h1 Elenco degli stili

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @beerstyles.each do |beerstyle|
    %tr
      %td= beerstyle.name
      %td= link_to 'Mostra', beerstyle
      %td= link_to 'Modifica', edit_beerstyle_path(beerstyle)
      %td= link_to 'Elimina', beerstyle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuovo Stile', new_beerstyle_path
