= form_for @lid do |f|
  - if @lid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lid.errors.count, "error")} prohibited this lid from being saved:"
      %ul
        - @lid.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :name
  .actions
    = f.submit 'Salva'
