%h1 Elenco dei tappi

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @lids.each do |lid|
    %tr
      %td= lid.name
      %td= link_to 'Mostra', lid
      %td= link_to 'Modifica', edit_lid_path(lid)
      %td= link_to 'Elimina', lid, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lid', new_lid_path
