%h1 Listing lids

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @lids.each do |lid|
    %tr
      %td= lid.name
      %td= link_to 'Show', lid
      %td= link_to 'Edit', edit_lid_path(lid)
      %td= link_to 'Destroy', lid, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lid', new_lid_path
