<!DOCTYPE html>
<html>
<head>
  <title>Spizzicaluna</title>
  <%= stylesheet_link_tag    "vendor", :media => "all", :debug => false  %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "vendor", :debug => false %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Panini', sandwiches_path, :class => 'menu_button' %>
<%= link_to 'Birre', beers_path, :class => 'menu_button' %>
<% if user_signed_in? %>
<%= link_to 'Items', items_path, :class => 'menu_button' %>
<%= link_to 'Orders', orders_path, :class => 'menu_button' %>
<%= link_to 'Ingredienti', ingredients_path, :class => 'menu_button' %>
<%= link_to 'Produttori', manufacturers_path, :class => 'menu_button' %>
<%= link_to 'Paesi', countries_path, :class => 'menu_button' %>
<%= link_to 'Stili di birra', beerstyles_path, :class => 'menu_button' %>
<%= link_to 'Contenitori', containers_path, :class => 'menu_button' %>
<%= link_to 'Tappi', lids_path, :class => 'menu_button' %>
<%= link_to 'Arome', aromas_path, :class => 'menu_button' %>
<%= link_to 'Gusti', tastes_path, :class => 'menu_button' %>
<%= link_to 'Colori', colors_path, :class => 'menu_button' %>
<%= link_to 'Schiume', foams_path, :class => 'menu_button' %>
<%end%>
<%= yield %>

<br/>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if user_signed_in? %>
  <%# link_to "My Profile", user_root_path%>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  <p>You are logged in as
  <%= current_user.roles.map{|r| r.name}%> </p>
	<% else %>
	<p>Welcome, visitor!</p>
  <%= link_to('Login', user_session_path, :method=>'get') %>
<%end%>

</body>
</html>
