<!DOCTYPE html>
<html>
<head>
  <title>Spizzicaluna</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<%= link_to 'Items', items_path, :class => 'menu_button' %>
<%= link_to 'Orders', orders_path, :class => 'menu_button' %>
<%end%>
<%= link_to 'Ingredients', ingredients_path, :class => 'menu_button' %>
<%= link_to 'Sandwiches', sandwiches_path, :class => 'menu_button' %>
<%= link_to 'Birre', beers_path, :class => 'menu_button' %>
<% if user_signed_in? %>
<%= link_to 'Stile di Birra', beerstyles_path, :class => 'menu_button' %>
<%= link_to 'Produttore', manufacturers_path, :class => 'menu_button' %>
<%= link_to 'Contenitore', containers_path, :class => 'menu_button' %>
<%= link_to 'Tappo', lids_path, :class => 'menu_button' %>
<%= link_to 'Aroma', aromas_path, :class => 'menu_button' %>
<%= link_to 'Gusto', tastes_path, :class => 'menu_button' %>
<%= link_to 'Colore', colors_path, :class => 'menu_button' %>
<%= link_to 'Schiuma', foams_path, :class => 'menu_button' %>
<%end%>
<%= yield %>

<br/>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if user_signed_in? %>
  <%# link_to "My Profile", user_root_path%>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  <p>You are logged in as
  <%= current_user.roles.map{|r| r.name}%> </p>
	<% else %>
	<p>Welcome, visitor!</p>
  <%= link_to('Login', user_session_path, :method=>'get') %>
<%end%>

</body>
</html>
