<!DOCTYPE html>
%html
  %head
    %title Spizzicaluna Brewing
    = favicon_link_tag '/spizzicaluna.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag 'red_star.gif', :alt => 'spizzicaluna brewing', :class => 'star'
    = link_to(image_tag('luna.gif', :alt => 'brewing e accessori', :class => 'logo'), root_path)
    .sidebar
      .sidebar_first_element
        = image_tag('yellow_star.gif',:class => "sidebar_image")
      = link_to "paninoteca e birreria", 'bar_brewing', :class => "sidebar_brewing"
      .sidebar_first_element
        = image_tag('green_star.gif',:class => "sidebar_image")
      = link_to "Spazio aperto", 'open', :class => 'sidebar_open'




    %ul{:class=>"nav"}
      %li= link_to 'Locale', 'bar_brewing'
      %li= link_to 'Contatti', 'contacts_brewing'
      - if user_signed_in?
        %li= link_to 'Items', items_path#, :class => 'nav_button'
        %li= link_to 'Orders', orders_path#, :class => 'nav_button'
        %li= link_to 'Ingredienti', ingredients_path#, :class => 'nav_button'
        %li= link_to 'Produttori', manufacturers_path#, :class => 'nav_button'
        %li= link_to 'Paesi', countries_path#, :class => 'nav_button'
        %li= link_to 'Stili di birra', beerstyles_path#, :class => 'nav_button'
        %li= # link_to 'Contenitori', containers_path, :class => 'nav_button'
        %li= # link_to 'Tappi', lids_path, :class => 'nav_button'
        %li= # link_to 'Arome', aromas_path, :class => 'nav_button'
        %li= # link_to 'Gusti', tastes_path, :class => 'nav_button'
        %li= # link_to 'Colori', colors_path, :class => 'nav_button'
        %li= # link_to 'Schiume', foams_path, :class => 'nav_button'
    = render 'carts/small'
    %br
    %br
    = yield