<!DOCTYPE html>
%html
  %head
    %title Spizzicaluna Brewing
    = favicon_link_tag '/spizzicaluna.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to "Indietro", :back
    = yield