<!DOCTYPE html>
%html
  %head
    %title Spizzicaluna One
    = favicon_link_tag '/spizzicaluna.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to_unless_current 'Panini', sandwiches_path, :class => 'menu_button'
    = link_to_unless_current 'Bruschette', bruschetta_path, :class => 'menu_button'
    = link_to_unless_current 'Birre', beers_path, :class => 'menu_button'
    - if user_signed_in?
      = link_to 'Items', items_path, :class => 'menu_button'
      = link_to 'Orders', orders_path, :class => 'menu_button'
      = link_to 'Ingredienti', ingredients_path, :class => 'menu_button'
      = link_to 'Produttori', manufacturers_path, :class => 'menu_button'
      = link_to 'Paesi', countries_path, :class => 'menu_button'
      = link_to 'Stili di birra', beerstyles_path, :class => 'menu_button'
      = # link_to 'Contenitori', containers_path, :class => 'menu_button'
      = # link_to 'Tappi', lids_path, :class => 'menu_button'
      = link_to 'Arome', aromas_path, :class => 'menu_button'
      = link_to 'Gusti', tastes_path, :class => 'menu_button'
      = link_to 'Colori', colors_path, :class => 'menu_button'
      = link_to 'Schiume', foams_path, :class => 'menu_button'
    %br
    %br
    = yield