<!DOCTYPE html>
%html
  %head
    %title Spizzicaluna One - Paninoteca e birreria
    = favicon_link_tag '/spizzicaluna.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "skins/tn3/tn3", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "keywords", :content => "paninoteca a Frascati, birreria a Frascati, due fratelli simpatici, spizzicaluna, paninoteca, birreria, panini, birra, spazio aperto, Frascati, reggiseni, locale, consegna a domicilio" }
    %meta{ :name => "keywords", :description => "venite da con amici, al resto ci pensiamo noi"}
    %meta{ :name => "developer", :description => "A.Shcherbakov"}
    %meta{ :name => "owner", :description => "G. Ponzi"}
  %body
    #main
      #header
        #logo
          = link_to(image_tag('luna.gif', :alt => 'paninoteca e birreria'), root_path)
        #star
          = image_tag 'yellow_star.gif', :alt => 'spizzicaluna one'
        %nav
          %ul
            %li= link_to 'LOCALE',  {:controller => "home", :action =>'bar_brewing'}
            %li= link_to 'Contatti', {:controller => "home", :action => "contacts_brewing"} #'contacts_one'
            - if user_signed_in?
              %li= link_to 'Ingredienti', ingredients_path#, :class => 'nav_button'
              - if false
                %li= link_to 'Items', items_path#, :class => 'nav_button'
                %li= link_to 'Orders', orders_path#, :class => 'nav_button'
                %li= link_to 'Produttori', manufacturers_path#, :class => 'nav_button'
                %li= link_to 'Paesi', countries_path#, :class => 'nav_button'
                %li= link_to 'Stili di birra', beerstyles_path#, :class => 'nav_button'
                %li= link_to 'Contenitori', containers_path, :class => 'nav_button'
                %li= link_to 'Tappi', lids_path, :class => 'nav_button'
                %li= link_to 'Arome', aromas_path, :class => 'nav_button'
                %li= link_to 'Gusti', tastes_path, :class => 'nav_button'
                %li= link_to 'Colori', colors_path, :class => 'nav_button'
                %li= link_to 'Schiume', foams_path, :class => 'nav_button'
      #sidebar
        .sidebaritem
          = image_tag('yellow_star.gif')
          = link_to "Birreria Paninoteca", {:controller => "home", :action =>'bar_one'}
        .sidebaritem
          = image_tag('green_star.gif')
          = link_to "Spazio aperto", {:controller => "home", :action =>'spizzicaluna_open'}

      = render 'carts/small'
      #mainframe
        = yield
      -if user_signed_in?
        .login_logout
          %p
            = link_to('Logout', destroy_user_session_path, :method=>'delete')
          %p
            You are logged in as
            = current_user.roles.map{|r| r.name}.join(" & ")
