<!DOCTYPE html>
%html
  %head
    %title Spizzicaluna Open
    = favicon_link_tag '/spizzicaluna.ico'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "keywords", :content => "paninoteca, birreria, panini, birra, spazio aperto, Frascati, reggiseni, locale, consegna a domicilio" }
    %meta{ :name => "keywords", :description => "venite da con amici, al resto ci pensiamo noi"}
    %meta{ :name => "author", :description => "A.Shcherbakov"}
    %meta{ :name => "owner", :description => "G. Ponzi"}

  %body
    = link_to(image_tag('back_arrow.png',:size => "50x50"), :back)
    = yield