%h1 Listing trackings

%table
  %tr
    %th Order
    %th Status
    %th Info
    %th
    %th
    %th

  - @trackings.each do |tracking|
    %tr
      %td= tracking.order
      %td= tracking.status
      %td= tracking.info
      %td= link_to 'Show', tracking
      %td= link_to 'Edit', edit_tracking_path(tracking)
      %td= link_to 'Destroy', tracking, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tracking', new_tracking_path
